
body {
    --color1: hsla(50, 71%, 60%, 1);
    --color2: hsla(22, 26%, 96%, 1);
    --color3: hsla(5, 31%, 97%, 1);
    --color4: hsla(38, 35%, 99%, 1);
    --color5: hsla(149, 26%, 63%, 1);  
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px var(--color1);
    --defaultmargin: 30px;
    --footer-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; 
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--color2);
}

header {
    width: 90%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    border: solid 2px var(--color5);
    color: var(--color2);
    background-color: var(--color1);
    height: var(--header-height);
}

header > h1 {
    letter-spacing: 10px;
}

nav {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

a {
    color: var(--color5);
    font-size: .5rem;
    padding: 5px;
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

#introduction {
    font-size: .6rem;
    font-style: italic;
}

section {
    background-color: var(--color1);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--defaultmargin);
    padding-bottom: var(--defaultmargin);
    margin-top: var(--defaultmargin);
    margin-bottom: var(--defaultmargin);
    border: solid 2px var(--color5);
}

#books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: .5rem;
    margin: 20px;
}

li { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 15px;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color3)
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .5rem;
    background-color: var(--color5);
    border: solid 2px var(--color1);
}
 
ol, ul {
	list-style: none;
}
