
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    --color1: hsla(50, 71%, 60%, 1);
    --color2: hsla(22, 26%, 96%, 1);
    --color3: hsla(5, 31%, 97%, 1);
    --color4: hsla(38, 35%, 99%, 1);
    --color5: hsla(149, 26%, 63%, 1);
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px var(--color1);
    --gutter: 30px;
    --footer-height: 30px;
    
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--color2);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--color5);
    color: var(--color2);
    background-color: var(--color1);
    height: var(--header-height);
}

nav {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

a {
    color: var(--color5);
    font-size: .5rem;
    padding: 5px;
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color1);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color5);
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color3)
}

.gutter-right {
    margin-right: 20px;
}


p {
    margin: var(--gutter);
}
