
body {
    --color1: hsla(50, 71%, 60%, 1);
    --color2: hsla(22, 26%, 96%, 1);
    --color3: hsla(5, 31%, 97%, 1);
    --color4: hsla(38, 35%, 99%, 1);
    --color5: hsla(149, 26%, 63%, 1);
    
    --default-margin: 30px;
    --footer-height: 30px;
    --foot-pad: 20px;
    
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    background-color: var(--color1);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--default-margin);
    padding-bottom: var(--default-margin);
    margin-top: var(--default-margin);
    margin-bottom: var(--default-margin);
    border: solid 2px var(--color5);
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color3)
}

#book-button {
    margin: 40px;
    padding: 5px;
    background-color: var(--color5);
    border-radius: 2px;
    border: 2px solid var(--color4);
    
}

#book-button:hover {
    transition-duration: 0.4s;
    background-color: var(--color2);
    color: var(--color5);
}

footer {
    position: fixed;
    bottom: 0;
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--foot-pad);
    padding-bottom: var(--foot-pad);
    margin-top: var(--default-margin);
    margin-bottom: var(--default-margin);
    margin-left: 85px;
    font-size: .7rem;
    color: var(--color1);
    background-color: var(--color3);
    border: solid 1px var(--color5);
}