
body {
    --color1: hsla(50, 71%, 60%, 1);
    --color2: hsla(22, 26%, 96%, 1);
    --color3: hsla(5, 31%, 97%, 1);
    --color4: hsla(38, 35%, 99%, 1);
    --color5: hsla(149, 26%, 63%, 1);
    
    --default-margin: 30px;
    --footer-height: 30px;
    --foot-pad: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    border-radius: 20px 2px 20px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: var(--color1);
    width: 90%;
    max-width: 90%;
    margin: var(--default-margin);
    border: solid 2px var(--color5);
}

h1 {
    letter-spacing: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color3);
    padding: 50px;
}

#book-button {
    margin: 40px;
    padding: 15px;
    background-color: var(--color5);
    border-radius: 2px;
    border: 2px solid var(--color4);
}

#book-button:hover {
    transition-duration: 0.4s;
    background-color: var(--color2);
    color: var(--color5);
}

footer {
    position: fixed;
    bottom: 0;
    width: 70%;
    display: grid;
    align-items: center;
    justify-items: center;
    padding-top: var(--foot-pad);
    padding-bottom: var(--foot-pad);
    margin: var(--default-margin);
    font-size: .7rem;
    color: var(--color1);
    background-color: var(--color3);
    border: solid 4px var(--color5);
}
