
body {
    --color1: hsla(50, 71%, 60%, 1);
    --color2: hsla(22, 26%, 96%, 1);
    --color3: hsla(5, 31%, 97%, 1);
    --color4: hsla(38, 35%, 99%, 1);
    --color5: hsla(149, 26%, 63%, 1);
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px var(--color1);
    --defaultmargin: 30px;
    --footer-height: 30px;
    
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--color2);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--color5);
    color: var(--color2);
    background-color: var(--color1);
    height: var(--header-height);
}


a {
    color: var(--color5);
    font-size: .5rem;
    padding: 5px;
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .5rem;
    background-color: var(--color5);
    border: solid 2px var(--color1);
}

/* Why does my footer have an annoying margin on 
the left instead of spanning entire page? */


table, .place-order {
    width: 100%;
    max-width: 750px;
    margin: auto;
}

.place-order {
    margin-top: 5px;
    text-align: right;
}

#order-button {
    border: solid 2px var(--color4);
    padding: 10px;
    background-color: var(--color1);
    font-size: .6rem;
    border-radius: 5px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    border: 2px solid var(--color5);
}

thead {
    background: var(--color1);
    color: var(--color5);
}

table th, table td {
    text-align: right;
    padding: 5px;
    font-size: .8rem;
}

.align-left {
    text-align: left;
}

tbody {
    background: white;
}

tbody tr:nth-child(even) {
    background: var(--color3);
}

tbody td {
    font-size: 0.9rem;
}

tfoot {
    background: var(--color5);
    color: var(--color2);
}